/* /
} */

.navigation {
    /* background-color: #44475a; */
    border-bottom: 1px solid #44475a;
}

.nav-span {
    font-size: 2rem;
    padding: 1.5rem;
    color: #f1fa8c !important;
    font-weight: bolder;
}